<html>
<title>{{title}}</title>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
        input{
            font-size:10px;
            width : 100px;
        }

</style>
<script>
        var global_id=0;
        function InsertFunc(){
            var aj = $.ajax({
                url : '/insert',
                data :
                {
                    id : $('#SelectId').val(),
                    content : $('#SelectContent').val(),
                    taskId : $('#SelectTaskId').val()
                },
                type : 'post',
                success : function (result) { alert(result); }
             })
        }

        function UpdateFunc(){
            id = global_id;
            content = document.getElementById("updateContent").value;
            task_id = document.getElementById("updateTaskId").value;
            var check =  confirm(`Are you sure to update the content?`);
            console.log(id);
            console.log(content);
            console.log(task_id);

            if(check){
                var aj = $.ajax({
                    url : '/update',
                    data :
                    {
                        id : id,
                        content : content,
                        task_id : task_id
                    },
                    type : 'post',
                    success : function (result) { alert(result); }
                })
            }
        }

        function DeleteFunc(i){
            var className = `deleteBtn${i}`;
            var check =  confirm(`Are you sure to delete the row you selected?`);
            if(check){
                var aj = $.ajax({
                    url : '/delete',
                    data :
                    {
                        id : $(`.${className}`).val(),
                    },
                    type : 'post',
                    success : function (result) { alert(result); }
                })
            }
        }

        function SelectTaskFunc(){
            var aj = $.ajax({
                url : '/searchByTask',
                data :
                {
                    task : $('#SelectTask').val(),
                },
                type : 'post',
                success : function (result) {
                    displayTaskIdNews(result)
                }
             })
        }


        function displayTaskIdNews(news){
            var content = `<table class="table table-bordered table-success table-striped">`;
            content += `<tr></tr><td>Id</td><td>Content</td><td>Task Id</td><td>Delete</td><td>Update</td>`;
            var len = news["id"].length;
            for(var i = 0 ; i < len ; i++){
                content += `<tr></tr><td>${news["id"][i]}</td><td>${news["content"][i]}</td><td>${news["task_id"][i]}</td><td><button class="deleteBtn${i} btn btn-primary" onclick="DeleteFunc(${i})" value="${news["id"][i]}">delete</button></td>`;
                content += `<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update" onclick="setGlobalId(${news["id"][i]})">更新資料</button></td>`;
            }
            content += `</table>`
            document.getElementById("showInfo").innerHTML = content;
        }

        function setGlobalId(id){
            global_id = id;
        }

        function SelectIdFunc(){
            var aj = $.ajax({
                url : '/searchById',
                data :
                {
                    id : $('#SelectById').val(),
                },
                type : 'post',
                success : function (result) {
                    if(result == "false"){
                        alert("id does not exist!")
                    }
                    else{
                        displayIdNews(result);
                    }
                }
             })
        }

        function displayIdNews(news){
            var i = 0;
            content =  `<table class="table table-success table-striped">`;
            content += `<tr></tr><td>Id</td><td>Content</td><td>Task Id</td><td>Delete</td><td>Update</td>`;
            content += `<tr></tr><td>${news["id"]}</td><td>${news["content"]}</td><td>${news["task_id"]}</td><td><button class="deleteBtn${i} btn btn-primary" onclick="DeleteFunc(${i})" value="${news["id"]}">delete</button></td>`;
            content += `<td><button type="button" class="btn btn-primary get_id" data-toggle="modal" data-target="#update" onclick="setGlobalId(${news["id"]})">更新資料</button></td>`;
            content += `</table>`;
            document.getElementById("showInfo").innerHTML = content;
        }






</script>
<body>
<div class="container-fluid">
    <font size="5" color="red">For report table : </font>
    <div class="row">
        <div class="col-sm-4" style="background-color:lavender;">
            <div class="row">
                <h5>Select : </h5>
                <div class="form-group">
                    <label for="SelectTask">Task id :</label>
                    <select id="SelectTask">
                        <option value="1">task1</option>
                        <option value="2">task2</option>
                        <option value="3">task3</option>
                        <option value="4">task4</option>
                        <option value="5">task5</option>
                    </select>
                    <button type="submit" class="btn btn-primary" onclick="SelectTaskFunc()">submit</button>
                </div>
            </div>  <!--Select-->
            <hr/>

            <div class="row">
                <div class="form-group">
                    <label for="SelectById">Select by id : </label>
                    <input type="text" id="SelectById"/>
                    <button type="submit" class="btn btn-primary" onclick="SelectIdFunc()">submit</button>
                </div>
            </div>
        </div>

        <div class="col-sm-8" style="background-color:white;">
            <!--        modal-->
            <div class="container">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#insert">新增資料</button>
                <div class="modal fade" id="insert" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">新增資訊</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="SelectId">Insert id :</label>
                                        <input type="text" class="form-control" id="SelectId"
                                               aria-describedby="emailHelp"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="SelectContent">Insert content :</label>
                                        <textarea class="form-control" rows="3" id="SelectContent"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="SelectTaskId">Insert task id :</label>
                                        <input type="text" id="SelectTaskId"/>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" onclick="InsertFunc()">submit</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="update" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">更新資訊</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="SelectContent">content :</label>
                                        <textarea class="form-control" rows="3" id="updateContent"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="SelectTaskId">task id :</label>
                                        <input type="text" id="updateTaskId"/>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" onclick="UpdateFunc()">submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" class="btn btn-primary">
                <div id="showInfo"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>