<html>
    <title>{{title}}</title>
    <head>
        <script src = "jquery.js"></script>
    </head>
    <body>
        <form method="post" action = "/task">
            <select name="task">
                <option value="1">task1</option>
                <option value="2">task2</option>
                <option value="3">task3</option>
                <option value="4">task4</option>
                <option value="5">task5</option>
            </select>
            <input type="submit"/>
        </form>
   </body>
</html>